/* Custom Mixins -------------------- */
%background-filter {

    // Hero image filter
    &::after {
        transition: background-color 500ms linear;
        position: absolute;
        content: '';
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);

        height: 100%;
        width: 100%;
    }

    >* {
        //position: absolute;
        z-index: 2;
    }
}