@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Black.woff2") format("woff2"),
		url("../fonts/Graphik-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Extralight.woff2") format("woff2"),
		url("../fonts/Graphik-Extralight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Bold.woff2") format("woff2"),
		url("../fonts/Graphik-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Light.woff2") format("woff2"),
		url("../fonts/Graphik-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Medium.woff2") format("woff2"),
		url("../fonts/Graphik-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Semibold.woff2") format("woff2"),
		url("../fonts/Graphik-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("../fonts/Graphik-Regular.woff2") format("woff2"),
		url("../fonts/Graphik-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$font-graphik: "Graphik";

body {
	font-family: "Graphik", "Roboto";
}

p {
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

h1 {
	font-family: $font-graphik, "Roboto";
	font-weight: bold;
	font-size: 48px;
	line-height: 53px;
}
h2 {
	font-family: $font-graphik, "Roboto";
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
}
h5 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 26px;
}
h6 {
	font-size: 18px;
	line-height: 1.1;
}
